# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/db.sqlite3
backend/.venv/
.venv/

# Django
staticfiles/
media/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Logs
*.log

# Env
.env
.env.production
.env.local
.env.*.local
frontend/.env
frontend/.env.production
frontend/.env.local

# VS Code
.vscode/

# MacOS
.DS_Store
